# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2

orbs:

  # Use the Slack orb to push build notifications to my desktop...
  slack: circleci/slack@4.3.0

jobs:
  build:
    machine:

      # Specify the version you desire here
      image: ubuntu-2004:202008-01

    resource_class: medium
    working_directory: ~/repo
    environment:

      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx6400m
      # Setup for GraalVM
      GRAALVM_HOME: /home/circleci/repo/.graalvm

    steps:

      - checkout

      - run:
          name: Set Version
          command: echo 'export VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)' >> $BASH_ENV

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Build Application
          command: gradle dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      # Run tests!
      - run:
          name: Test Code
          command: gradle test

      # GraalVM must be installed to build a Quarkus native app.

      - run:
          name: Install GraalVM
          command: curl https://github.com/oracle/graal/releases/download/vm-19.1.1/graalvm-ce-linux-amd64-19.1.1.tar.gz -O -J -L && tar xfz graalvm-ce-linux-amd64-19.1.1.tar.gz && mv graalvm-ce-19.1.1 .graalvm && rm graalvm-ce-linux-amd64-19.1.1.tar.gz

      # native-image is an add-on for GraalVM.

      - run:
          name: Install native-image
          command: $GRAALVM_HOME/bin/gu install native-image

      # Notify Slack if the build fails...

      - slack/notify:
          event: fail
          mentions: @LukeJames
          template: basic_fail_1

      # Notify Slack if the build passes...

      - slack/notify:
          event: pass
          template: success_tagged_deploy_1

workflows:
  send-notification:
    jobs:
      - build:
          context: slack-secrets
